.itemForm {
    margin-bottom: 5px;
}

.cargo {
    display: flex;
    gap: 10px
}

.formContainer {
    min-width: 400px;
}

.textAria {
    min-height: 90px !important;
}

.infoContainer {
    display: flex;
    gap: 10px
}

.dateContainer {
    display: flex;
    justify-content: space-between;
}

.addressContainer {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.footerContainer {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-around;
}

.companyLegalAddress {
    display: none;
}


/*---------------------------------------------------*/

.driverContainer {
    display: flex;
    gap: 10px;
}

.cargoContainer {
    display: flex;
    justify-content: space-around;
}

.shopContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
}